<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ODBCRemote" connectionString="Provider=MSDASQL.1;Persist Security Info=True;Data Source=PKSYB960" providerName="System.Data.Odbc" />
    <add name="HostRemote" connectionString="Provider=MSDASQL;Dsn=DB2DSNP;dbalias=DB2DSNP;txnisolation=1" providerName="MSDASQL" />
    <add name="DataConnection" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=\\fil0960mp01\Data1\Share\Everyone\Samples\SampleRoomAudits\Bin\Servers\ApplicationServers\ProjectDataServerLocal.accdb;Persist Security Info=False" providerName="System.Data.Odbc" />
  </connectionStrings>
</configuration>